body	{text-align: center;
	font-family: monospace;}

a.link	{font-weight: bold;}
	

span.nav	{font-weight: bold;
		font-size: 1em;}

#browser_alert	{font-size: small;
		font-weight: bold;
		color: red;}

div.header	{height: 85px;
		width: 100%}

h1.banner	{font-size: 6em;}

div.main	{position: relative;
		top: 50px;
		width: 100%;
		font-size: 3em;}

div.footer	{font-size: 0.75em;
		position: relative;
		top: 80px;
		width: 100%;}

div.main-about	{position: relative;
		width: 600px;
		margin-left: auto;
		margin-right: auto;
		top: 40px;
		text-align: justify;
		font-size:1.2em;}

img.center	{display: block;
		margin-left: auto;
		margin-right: auto;}
